@import url(//db.onlinewebfonts.com/c/3dad38b96d1a28deaba765fa3a16697f?family=GT+Eesti+Pro+Display);

$greyish-brown: #5C5856;
$dark-grey: #232525;
$algae-green: #1DB65B;
$white: #F9F9F9;
$brown-grey: #B0B0B0;
$very-light-blue: #E9ECEE;
$lightish-red: #FA3350;
$black: #000000;
$slight-gray: #F4F5F6;